/* Google Font Add */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*------- 
Common Utilites
---------*/
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}
.container {
	width: 1321px;
	margin: 0 auto;
}
.d-flex {
	display: flex;
}
.space-around-center {
	align-content: center;
	justify-content: space-around;
}

.d-grid {
	display: grid;
}
.d-col-grid {
	grid-template-columns: repeat(3, 1fr);
}
a {
	text-decoration: none;
}
main {
	margin: 100px 0;
}
.f-col {
	flex-direction: column;
}
.divider {
	border: 1px solid rgba(255, 255, 255, 0.1);
	width: 100%;
}
li {
	list-style: none;
}

/*------- 
Hero Header 
---------*/
.hero-section {
	margin: 50px 0;
}
.hero-area {
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
			50deg,
			rgba(36, 36, 62, 1),
			rgba(48, 43, 99, 1),
			rgb(96, 96, 253),
			rgba(15, 12, 41, 1)
			
		)
		0 0 / 1000% no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 30px;
	animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
	0% {
		background-position: 0% 30%, 0 0;
	}
	50% {
		background-position: 100% 70%, 0 0;
	}
	100% {
		background-position: 0% 30%, 0 0;
	}
}
@keyframes gradientAnimation {
	0% {
		background-position: 0% 30%, 0 0;
	}
	50% {
		background-position: 100% 70%, 0 0;
	}
	100% {
		background-position: 0% 30%, 0 0;
	}
}

.hero-info {
	margin: 50px;
}
.hero-title h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	color: #ffffff;
	margin-bottom: 15px;
}
.hero-description p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
}
.hero-btn {
	width: 187px;
	height: 56px;
	background: #8a1538;
	border-radius: 5px;
	display: flex;
	transition: all 1s ease;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	border: solid 1px #8a1538;
}
.hero-btn a {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	transition: all 1s ease;
}
.hero-btn:hover {
	background: #ffffff;
}
.hero-btn:hover a {
	color: #8a1538;
}
.hero-btn i {
	padding-left: 5px;
}
.hero-img-area {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-direction: column;
	align-items: center;
}

/* 
    World Cup Information area
*/

.nav-area .main-menu {
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	min-width: 312px;
	padding: 10px 0;
}
.main-menu ul {
	padding: 0;
	margin: 0;
}
.main-menu ul li {
	list-style: none;
	width: 252px;
	height: 64px;
	background: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 30px;
	cursor: pointer;
	border: solid 1px;
	transition: all 1s ease;
}
.main-menu .active,
.main-menu ul li:hover {
	background: #8a1538;
	transition: all 1s ease;
}

.main-menu a {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #161616;
	text-decoration: none;
}
.main-menu .active a,
.main-menu ul li:hover a {
	color: #fff;
	transition: all 1s ease;
}

/* Transfer information area */
.content-area {
	margin-left: 24px;
}
.transfer-area,
.match-info-area {
	margin-bottom: 24px;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}
.transfer-item {
	background: #ffffff;
	box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.post-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #161616;
}
.content {
	padding: 20px;
}
.tag-area {
	width: 100px;
	height: 32px;
	border: 1px solid #161616;
	border-radius: 5px;
	transition: all 1s ease;
}
.tag-area a {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #161616;
	padding: 5px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: all 1s ease;
}
.tag-area:hover {
	background: #8a1538;
	border: 1px solid #8a1538;
}
.tag-area:hover a {
	color: #fff;
	transition: all 1s ease;
}
.seemorelink a:hover {
	color: #0a0826;
}
.meta-data {
	display: flex;
	align-items: center;
}
.rating {
	display: flex;
	align-items: center;
}
.list {
	display: flex;
	align-items: center;
}

.starcount {
	padding-left: 10px;
}
.course-length {
	padding: 5px 7px 5px;
}
.view-all {
	margin: 0 auto;
	display: none;
}
/* Match area */
.match-item {
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	padding: 50px 10px;
	width: 290px;
}
.match-content {
	text-align: center;
}
.match-content .post-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #161616;
}
/* Group Page */
.group-info-area {
    grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}
.group-item {
	border: 1px solid #0f0c29;
	border-radius: 10px;
	padding: 0px 10px;
	width: 205px;
	
}
.group-content {
	padding: 20px;
}
.group-content .post-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #161616;
}
.flagimg{
	width: 42px;
    height: 28px;
    border: 1px solid;
    margin: 5px;
}
.flag-area {
    align-items: center;
    justify-content: start;
}
/* Footer */
footer {
	background: #0f0c29;
	padding: 130px 0;
}
.fo-title h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	/* identical to box height */
	text-align: center;
	color: #ffffff;
}
.footer-menu ul {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	justify-content: space-around;
}
.footer-menu li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	font-feature-settings: "liga" off;
	color: #b9b9b9;
	transition: all 1s ease;
}
.footer-menu li a:hover {
	color: #fff;
}
.copywrite-text,
.copywrite-text a {
	color: #b9b9b9;
	text-align: center;
	text-decoration: none;
}
.copywrite-text a:hover {
	color: #fff;
}
.social-link {
	display: flex;
	justify-content: center;
}
.social-link a {
	color: #b9b9b9;
	padding: 5px;
	font-size: 20px;
	transition: color 0.5s ease-in;
}
.social-link a:hover {
	color: #fff;
}
/* Media Queries */
/* // Extra small devices (portrait phones, less than 767.98px) */
@media only screen and (max-width: 767.98px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.hero-section .d-flex {
		flex-direction: column;
	}
	.hero-info {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px;
	}
	.hero-title h1 {
		font-size: 28px;
		line-height: 42px;
	}
	.hero-description p {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		height: 3em;
		overflow: hidden;
	}
	main {
		margin: 10px 0;
	}
	.wc-info-area .mb-col {
		flex-direction: column;
		align-items: center;
	}
	.nav-area .main-menu {
		background: transparent;
	}
	.content-area {
		margin-left: 0px;
		margin-top: 25px;
	}
	.d-col-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	img {
		width: 100%;
	}
	.footer-menu ul {
		display: flex;
		align-content: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1320px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.hero-info {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hero-title h1 {
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
	}
	.hero-description p {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		height: 3em;
		overflow: hidden;
	}
	.wc-info-area .mb-col {
		flex-direction: column;
	}
	.nav-area .main-menu {
		background: transparent;
		padding: 5px 0;
	}
	.main-menu ul {
		padding: 0;
		margin: 0;
		display: flex;
	}
	.main-menu ul li {
		margin: 5px;
		padding: 5px 20px;
	}
	.content-area {
		margin-left: 0;
		margin-top: 30px;
	}
	.d-col-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.group-info-area {
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 50px;
	}
	.thumbnail img {
		width: 100%;
	}
	.match-item {
		width: 95%;
	}
	.view-all {
		display: flex;
	}
	.footer-menu ul {
		flex-wrap: wrap;
	}
	.footer-menu .item {
		padding: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 734px;
		margin: 0 auto;
	}
	.match-item {
		width: 94%;
	}
}
@media only screen and (min-width: 1320px) {
	.hero-info {
		max-width: 530px;
		margin: 50px;
	}
}
